{
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },

  "env": {
    "es2021": true,
    "node": true
  },

  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "no-undef": "off"
      }
    }
  ],

  "rules": {
    "no-unused-vars": "warn",
    "no-var": "warn",
    "object-shorthand": ["warn", "properties"],
    "no-undef": "error",

    "accessor-pairs": [
      "error",
      { "setWithoutGet": true, "enforceForClassMembers": true }
    ],
    "array-bracket-spacing": ["error", "never"],
    "array-callback-return": [
      "error",
      {
        "allowImplicit": false,
        "checkForEach": false
      }
    ],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": [
      "error",
      {
        "allow": ["^UNSAFE_"],
        "properties": "never",
        "ignoreGlobals": true
      }
    ]
  }
}
